.top_header_area .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_header_area .menu .top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_header_area .menu .top_nav a {
  color: white;
  margin-right: 1.5rem;
}

.top_header_area .menu .top_nav a i {
  margin-right: .3rem;
}

.top_header_area .menu .social_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top_header_area .menu .social_nav a {
  font-size: 20px;
  color: white;
  margin-left: 1.5rem;
}

.footer_area .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_area .social-icon a {
  font-size: 35px;
  color: white;
  margin-right: 2rem;
}

.footer_area .quick .quick-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
}

.footer_area .quick .quick-link a {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.footer_area .my-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.footer_area .my-address a {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.footer_area .my-address a span {
  margin-left: 1rem;
}

.contact_map iframe {
  height: 350px;
  width: 80%;
}

.contacto {
  padding-top: 3rem;
}

.contacto h2 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 2rem;
}

.contacto h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #008bb9;
  left: 0;
  bottom: 0;
}

.contacto .input_box {
  width: 100%;
  border: 1px solid #dfe3e4;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  height: 50px;
  padding-left: 15px;
  color: #444444;
  margin-bottom: 20px;
}

.contacto button {
  font: 400 14px/40px "Roboto", sans-serif;
  background: #008bb9;
  width: 140px;
  color: #222222;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.contacto .contact_map iframe {
  height: 350px;
  width: 100%;
}

.contacto .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .social-icon a {
  font-size: 25px;
  color: #555555;
  margin-right: 2rem;
}

.contacto .addresses {
  margin-bottom: 2rem;
}

.contacto .addresses .address-item {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacto .addresses .address-item a {
  padding-right: 3rem;
}

.contacto .addresses .address-item span {
  font-weight: bolder;
  color: #555555;
}

.paga-aqui {
  position: fixed;
  width: auto;
  background: #008bb9;
  padding: 14px 23px;
  color: #ffffff;
  font-size: 14px;
  top: 30%;
  right: -123px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 10000;
  font-family: sans-serif;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.paga-aqui:hover {
  color: white;
}
/*# sourceMappingURL=custom.css.map */