@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
.top_header_area .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top_header_area .menu .top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_header_area .menu .top_nav a {
  color: white;
  margin-right: 1.5rem;
}

.top_header_area .menu .top_nav a i {
  margin-right: .3rem;
}

.top_header_area .menu .social_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.top_header_area .menu .social_nav a {
  font-size: 20px;
  color: white;
  margin-left: 1.5rem;
}

.footer_area .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer_area .social-icon a {
  font-size: 35px;
  color: white;
  margin-right: 2rem;
}

.footer_area .quick .quick-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 1rem;
}

.footer_area .quick .quick-link a {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: white;
}

.footer_area .my-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.footer_area .my-address a {
  font-size: 2rem;
  color: white;
  margin-bottom: 1rem;
}

.footer_area .my-address a span {
  margin-left: 1rem;
}

.contact_map iframe {
  height: 350px;
  width: 80%;
}

.contacto {
  padding-top: 3rem;
}

.contacto h2 {
  margin-bottom: 2rem;
  position: relative;
  padding-bottom: 2rem;
}

.contacto h2::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 80px;
  background: #008bb9;
  left: 0;
  bottom: 0;
}

.contacto .input_box {
  width: 100%;
  border: 1px solid #dfe3e4;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  height: 50px;
  padding-left: 15px;
  color: #444444;
  margin-bottom: 20px;
}

.contacto button {
  font: 400 14px/40px "Roboto", sans-serif;
  background: #008bb9;
  width: 140px;
  color: #222222;
  border: 0;
  border-radius: 0;
  text-transform: uppercase;
}

.contacto .contact_map iframe {
  height: 350px;
  width: 100%;
}

.contacto .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacto .social-icon a {
  font-size: 25px;
  color: #555555;
  margin-right: 2rem;
}

.contacto .addresses {
  margin-bottom: 2rem;
}

.contacto .addresses .address-item {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacto .addresses .address-item a {
  padding-right: 3rem;
}

.contacto .addresses .address-item span {
  font-weight: bolder;
  color: #555555;
}

.paga-aqui {
  position: fixed;
  width: auto;
  background: #008bb9;
  padding: 14px 23px;
  color: #ffffff;
  font-size: 14px;
  top: 30%;
  right: -123px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 10000;
  font-family: sans-serif;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: .4rem;
}

.paga-aqui:hover {
  color: white;
}

.about_us_area p {
  color: #63667c;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.7;
}

.about_us_area .principal {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}

.about_us_area .principal .logo {
  width: 150px;
  height: auto;
  margin-bottom: 2rem;
}

.about_us_area .principal .titulo {
  margin-bottom: 2rem;
  color: #008bb9;
}

.about_us_area .about-row h3 {
  color: #008bb9;
  font-weight: 600;
  margin-bottom: 2%;
}

.about_us_area .about-row p {
  color: #63667c;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 4rem;
}

.preguntas-frecuentes {
  padding-top: 2%;
}

.preguntas-frecuentes h2 {
  text-align: center;
  margin-bottom: 3rem;
}

.preguntas-frecuentes p {
  color: #63667c;
  font-size: 16px;
  margin-bottom: 2rem;
}

.preguntas-frecuentes .panel-group .panel-heading {
  background-color: white;
  cursor: pointer;
}

.preguntas-frecuentes .panel-group .panel-heading .panel-title {
  color: #008bb9;
}

.formularios {
  padding: 3rem 0;
  text-align: center;
}

.formularios p {
  color: #63667c;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 3rem;
  padding: 0 3rem;
}

.formularios a {
  font-size: 20px;
  font-weight: 500;
}

.titulo {
  color: #008bb9;
  font-weight: 600;
  margin-top: 3rem;
}

.noticias {
  margin-top: 3rem;
}

.noticias h2, .noticias p {
  margin-bottom: 3rem;
}

.padlr10 {
  padding-left: 10px;
  padding-right: 10px;
}

.post-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  height: 260px;
  padding-left: 0;
  margin-bottom: 20px;
}

.post-card .card-block {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  position: relative;
}

.post-card .card-title {
  font-size: 2.20rem;
  line-height: 1.25;
  margin-bottom: 1rem;
  height: 50px;
}

.post-card .card-title a {
  color: rgba(0, 0, 0, 0.8);
}

.post-card .card-text {
  color: #888;
  font-size: 1.20rem;
  line-height: 1.5;
  font-weight: 400;
  word-wrap: break-word;
  display: block;
  min-height: 140px;
}

.post-card .wrapthumbnail {
  height: 258px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.post-card .wrapthumbnail .thumbnail {
  background-size: cover;
  height: 100%;
  display: block;
  border-radius: 0;
  border: none;
  background-position: 38% 22% !important;
  background-origin: border-box !important;
  border-top-left-radius: 2px;
}

.post-card .metafooter {
  margin-top: .70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.post-card .metafooter .post-date {
  color: rgba(0, 0, 0, 0.54);
}

.noticia {
  margin-top: 7rem;
}

.noticia h1 {
  font-weight: 700;
  margin-bottom: 2rem;
}

.noticia .post-date {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 2rem;
}

.noticia .content {
  margin-bottom: 3rem;
  text-align: justify;
  font-family: Merriweather;
  font-weight: 400;
  line-height: 1.8;
  color: #222222;
}
/*# sourceMappingURL=custom.css.map */